@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

body {
  background-image: url("./assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: center;
  color: white;
}

.header {
  width: 100%;
  font-family: 'Mulish', sans-serif;
  line-height: 15px;
}

.titleBox{
  width: fit-content;
  margin:auto;
  display: flex;
  margin-top: 25px;
}

.websiteLogo {
  width: 230px;
  height:auto;
  margin: 0 0 0 0 ;
  transition: all 0.3s;
}

.websiteLogo:hover {
  width: 240px;
  transition: all 0.3s;
}

.websiteSlogan {
  font-size: 19px;
  width: 200px;
  height: fit-content;
  margin: 28px 0 0 0 ;
  text-align: right;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.414);
}

.mainMenu {
  width: fit-content;
  display: flex;
  margin: 10px auto 20px auto;
}

button {
  color: white;
  font-family: 'Mulish', sans-serif;
}

.loginButton {
  position: absolute;
  display: inline-flex;
  justify-content: center; 
  align-items: center;
  opacity: 70%;
  width:fit-content;
  top: 45px;
  right: 30px;
  transition: 0.4s;
  background-color: transparent;
  border: transparent;
}

.loginButton:hover  {
  opacity: 100%;
  transition: 0.4s;
}

.loginButton:hover .loginButtonText {
  background-color: #A77DDF;
  transition: 0.4s;
}

.loginButton:hover .textSpan{ 
  color: #500A6D;
  transition: 0.4s;
}

.textSpan {
  transition: 0.4s;
}

.loginButtonText{
  line-height: 13px;
  font-size: 16px;
  width: fit-content;
  background-color: transparent;
  border-radius: 0 12px 12px 0;
  padding: 10px 20px 10px 30px;
  text-align: left;
  margin-left: -20px;
  border: 0px;
  transition: 0.4s;
}

.userIcon {
  width: 50px;
  height: 50px;
  z-index: 2;
}

@media only screen and (max-width: 900px){  
  .loginButtonText{
    position: absolute;
    opacity: 0%;
    right:0px;
    border-radius: 12px 0px 0px 12px;
    padding: 0 0 0 0;
  }

  .loginButton:hover .loginButtonText {
    opacity: 100%;
    right: 40px;
    padding: 10px 30px 10px 20px;
  }  
}

.footer{
  display: flex;
  position: fixed;
  bottom: -40px;
  font-family: 'Mulish', sans-serif;
  line-height: 15px;
  padding: 5px 20px 5px 20px;
  border-radius: 20px 20px 0 0;
  width: fit-content;
  background-color: rgba(16, 2, 27, 0.308);
  left: 50%;
  transform: translate(-50%, 0);
  transition: 1s;
}

.footer:hover {
  opacity: 100%;
  background-color: rgb(25, 12, 34);
  bottom: 0px;
  transition: 1s;
}

.milhojasLogo {
  opacity: 0%;
  width: 130px;
  height: 55px;
  margin: 0 0 0 0 ;
  transition: 1s;
}

.footerText {
  opacity: 0%;
  font-size: 17px;
  margin: 19px 10px 0 0;
  text-align: right;
  transition: 1s;
  width: max-content;
}

.footer:hover .milhojasLogo {
  opacity: 100%;
  transition: 1s;
}

.footer:hover .footerText{
  opacity: 100%;
  transition: 1s;
}

.aboutUsCard {
  opacity: 100%;
  width: 60%;
  max-width: 700px;
  min-width: 550px;
  height: 50vh;
  min-height: 350px;
  max-height: 400px;
  background-image: url("./assets/aboutUsBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  border-radius: 40px;
  margin: 20px auto 30px auto;
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
  padding: 40px;
  line-height: 15px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.aboutUsContainer{
  width: 100%;
  max-width: 600px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-5%);
    opacity: 0%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

.pageTitle {
  opacity:100%;
  display:flex;
  width:fit-content;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.pageTitleIcon {
  width: 35px;
}

.pageTitleText {
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  margin-left: 15px;
  color: #D6A4EB
}


.memberCirclesArray {
  display:flex;
  margin: auto;
  width:100%;
  justify-content: center;
}

.memberCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  margin:0 4px 0 4px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  padding: 5px;
  transition: 0.5s;
  height: 85px;
}

.aboutUsBox {
  display: flex;
  width: 480px;
  align-items: center;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:17px;
  line-height: 22px;
  margin: 10px auto 0 auto;
}

.iconUNAL {
  width: 170px;
}

.aboutUsText {
  width:360px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.verticalLine {
  border-left: 3px solid white;
  height: 110px;
  margin: 0 20px 0 20px;
}

.horizontalLine {
  border-top: 3px solid white;
  width: 90px;
  margin: 10px 0 10px 0;
  margin-left: auto; 
  margin-right: 0;
}

.integrantes {
  font-family: 'Mulish', sans-serif;
  font-size:18px;
  margin-left: auto; 
  margin-right: 0;
  width: fit-content;
  margin-top:-20px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

