@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

body {
  background-image: url("./assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: center;
  color: white;
}

.header {
  width: 100%;
  font-family: 'Mulish', sans-serif;
  line-height: 15px;
}

.titleBox{
  width: fit-content;
  margin:auto;
  display: flex;
  margin-top: 25px;
}

.websiteLogo {
  width: 230px;
  height:auto;
  margin: 0 0 0 0 ;
  transition: all 0.3s;
}

.websiteLogo:hover {
  width: 240px;
  transition: all 0.3s;
}

.websiteSlogan {
  font-size: 19px;
  width: 200px;
  height: fit-content;
  margin: 28px 0 0 0 ;
  text-align: right;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.414);
}

.mainMenu {
  width: fit-content;
  display: flex;
  margin: 10px auto 20px auto;
}

button {
  color: white;
  font-family: 'Mulish', sans-serif;
}

.loginButton {
  position: absolute;
  display: inline-flex;
  justify-content: center; 
  align-items: center;
  opacity: 70%;
  width:fit-content;
  top: 45px;
  right: 30px;
  transition: 0.4s;
  background-color: transparent;
  border: transparent;
}

.loginButton:hover  {
  opacity: 100%;
  transition: 0.4s;
}

.loginButton:hover .loginButtonText {
  background-color: #A77DDF;
  transition: 0.4s;
}

.loginButton:hover .textSpan{ 
  color: #500A6D;
  transition: 0.4s;
}

.textSpan {
  transition: 0.4s;
}

.loginButtonText{
  line-height: 13px;
  font-size: 16px;
  width: fit-content;
  background-color: transparent;
  border-radius: 12px 0px 0px 12px;
  padding: 10px 30px 10px 20px;
  text-align: left;
  margin-right: -20px;
  border: 0px;
  transition: 0.4s;
}

.userOptionsContainer {
  display:flexbox;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: 0.4s;
  opacity:0%;
  width:0px;
  height:0px;
}

.userOptionButton{
  width:max-content;
  color:rgb(21, 4, 47);
  line-height: 13px;
  font-size: 2px;
  background-color: rgba(255, 255, 255, 0.942);
  border-radius: 10px;
  padding: 9px 12px 9px 12px;
  border: 0px;
  float: right;
  margin-bottom: 3px;
  transition: 0.4s;
}

.userOptionButton:hover{
  color:white;
  background-color: rgba(37, 7, 59, 0.547);
  padding: 11px 12px 11px 12px;
  transition: 0.4s;
}

.loginButton:hover .userOptionsContainer {
  opacity:100%;
  top: 50px;
  transition: 0.4s;
  width:fit-content;
  height:fit-content;
}

.loginButton:hover .userOptionButton {
  font-size: 15px;
  transition: 0.4s;
}

.userIcon {
  width: 50px;
  height: 50px;
  z-index: 2;
}

@media only screen and (max-width: 900px){  
  .loginButtonText{
    position: absolute;
    opacity: 0%;
    right:40px;
    border-radius: 12px 0px 0px 12px;
    padding: 10px 30px 10px 20px;
  }

  .loginButton:hover .loginButtonText {
    opacity: 100%;
    right: 55px;
  }  
  
}

.footer{
  display: flex;
  position: fixed;
  bottom: -40px;
  font-family: 'Mulish', sans-serif;
  line-height: 15px;
  padding: 5px 20px 5px 20px;
  border-radius: 20px 20px 0 0;
  width: fit-content;
  background-color: rgba(16, 2, 27, 0.308);
  left: 50%;
  transform: translate(-50%, 0);
  transition: 1s;
}

.footer:hover {
  opacity: 100%;
  background-color: rgb(25, 12, 34);
  bottom: 0px;
  transition: 1s;
}

.milhojasLogo {
  opacity: 0%;
  width: 130px;
  height: 55px;
  margin: 0 0 0 0 ;
  transition: 1s;
}

.footerText {
  opacity: 0%;
  font-size: 17px;
  margin: 19px 10px 0 0;
  text-align: right;
  transition: 1s;
  width: max-content;
}

.footer:hover .milhojasLogo {
  opacity: 100%;
  transition: 1s;
}

.footer:hover .footerText{
  opacity: 100%;
  transition: 1s;
}

.aboutUsCard {
  opacity: 100%;
  width: 60%;
  max-width: 700px;
  min-width: 550px;
  height: 50vh;
  min-height: 350px;
  max-height: 400px;
  background-image: url("./assets/aboutUsBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  border-radius: 40px;
  margin: 20px auto 30px auto;
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
  padding: 40px;
  line-height: 15px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.aboutUsContainer{
  width: 100%;
  max-width: 600px;
}

.adminActivitiesContainer{
  width: fit-content;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-5%);
    opacity: 0%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

.pageTitle {
  opacity:100%;
  display:flex;
  width:fit-content;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.pageTitleIcon {
  width: 35px;
}

.pageTitleText {
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  margin-left: 15px;
  color: #D6A4EB
}


.memberCirclesArray {
  display:flex;
  margin: auto;
  width:100%;
  justify-content: center;
}

.memberCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  margin:0 4px 0 4px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  padding: 5px;
  transition: 0.5s;
  height: 85px;
}

.aboutUsBox {
  display: flex;
  width: 480px;
  align-items: center;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:17px;
  line-height: 22px;
  margin: 10px auto 0 auto;
}

.iconUNAL {
  width: 170px;
}

.aboutUsText {
  width:360px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.verticalLine {
  border-left: 3px solid white;
  height: 110px;
  margin: 0 20px 0 20px;
}

.horizontalLine {
  border-top: 3px solid white;
  width: 90px;
  margin: 10px 0 10px 0;
  margin-left: auto; 
  margin-right: 0;
}

.integrantes {
  font-family: 'Mulish', sans-serif;
  font-size:18px;
  margin-left: auto; 
  margin-right: 0;
  width: fit-content;
  margin-top:-20px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.card {
  width: 280px;
  background-color: rgba(0,0,0,0.4);
  border-radius: 25px;
  height: 300px;
  margin: 20px auto 30px auto;
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
  padding: 40px;
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
}

.cardContainer{
  width: fit-content;
  height: fit-content;
}

.loginField {
  width: 270px;
  height: 35px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
  margin: 5px 0 5px 0;
  color: black;
  border-radius: 10px;
  border: transparent;
}

.activityInputField {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: white;
  text-align: left;
  margin: 0px 0 15px 0px;
  color: black;
  border-radius: 4px;
  border: transparent;
  padding: 2px 0px 2px 5px;
  width:215px;
}

.activityInputText{
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  margin: 0 0 5px 0;
}

.descriptionInputField {
  height: 144px;
}

.loginButton2{
  width: fit-content;
  padding: 0 15px 0 15px;
  height: 32px;
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
  margin: 15px 0 10px 0;
  color: white;
  background-color: #9453C2;
  border-radius: 8px;
  border: transparent;
  transition: 0.5s;
}

.loginButton2:hover{
  color: rgb(35, 5, 57);
  background-color: white;
  transition: 0.5s;
}

.loginButton2:disabled {
  cursor: not-allowed;
}

.titleCard {
  margin-bottom: 25px;
}

.noAccountQuestion{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  margin: 20px 0 0px 0;
}

.goToSignUp {
  color: #7DDCFA;
  font-weight: bold;
  text-decoration: none;
}

.goToSignUp:hover {
  text-decoration:underline;
}

.activityCard {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 15px;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 15px;
  padding:10px 20px 10px 20px;
  margin:5px;
  font-size: 16px;
  transition: 0.5s;
}

.activityCard:hover {
  width: 203px;
  height: 203px;
  margin:2px;
  background-color: #9453C2;
  color: white;
  transition: 0.5s;
}

.activityCard:hover .activityCardTitle {
  color: white;
}

.activityCard:hover .activityCardLocation {
  color: white;
}

.activityCardTitle {
  font-family: 'Mulish', sans-serif;
  color: #500A6D;
  font-size: 18px;
}

.activityCardLocation{
  color: #A77DDF;
  margin-top: -15px;
}

.activityCardContact {
  margin-top: 10px;
}

.catalogueContainer {
  display: flexbox;
  justify-content: center;
  width:770px;
  align-items: center;
  background-color: rgba(0,0,0,0.4);
  margin: 0px auto 80px auto;
  padding:10px;
  border-radius: 20px;
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.catalogueCardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width:fit-content;
}

.adminActivitiesCard {
  opacity: 100%;
  width: 70%;
  max-width: 800px;
  min-width: 650px;
  height: 45vh;
  min-height: 360px;
  max-height: 400px;
  background-color: rgba(0,0,0,0.4);
  border-radius: 40px;
  margin: 20px auto 30px auto;
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
  padding: 40px;
  line-height: 15px;
  display:flex;
  align-items: center;
  justify-content: center;
}

textarea {
  resize: none;
}

.formContainer {
  display:inline-flex;
  margin: 25px 0px 0px 0px;
  width:fit-content;
}

.activityCheckbox{
  width: 18px;
  height:18px;
  margin: 0px 0px 0px 10px;
  opacity:50%;
  transition:0.5s;
  cursor: pointer; 
}

.activityCheckbox2{
  width: 20px;
  height:20px;
  margin: 0px 8px 0px 0px;
  transition:0.5s;
  cursor: pointer; 
}

.activityCheckbox3{
  width: 20px;
  height:20px;
  margin: 0px 8px 0px 15px;
  transition:0.5s;
  cursor: pointer; 
}

.ageLimitContainer {
  display: flex;
  width: max-content;
  align-items: center;
}

.activityTypeContainer {
  display: flex;
  width: max-content;
  height: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin: 0px 0 15px 0px;
  align-items: center;
}

.endingField{
  margin: 0 0 0 0;
}

.activityCheckbox:checked {
  opacity:100%;
  transition:0.5s;
}

.column {
  width: 220px;
  margin: 0 7px 0 7px;
}

.textStyle1{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin: 80px 0 11px 0;
  text-align: center;
}

.createButton{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 111px;
  height:45px;
  font-family: 'Mulish', sans-serif;
  font-size: 13px;
  line-height: 12px;
  color: rgb(255, 255, 255);
  text-align: left;
  background-color: rgb(134, 82, 186);
  border-radius: 7px;
  border: transparent;
  transition: 0.5s;
  float:left;
}

.createButton:hover{
  background-color: rgb(87, 50, 124);
  transition: 0.5s;
}

.deleteButton{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height:45px;
  font-family: 'Mulish', sans-serif;
  font-size: 13px;
  line-height: 12px;
  color: rgb(255, 255, 255);
  float:right;
  background-color: rgb(230, 80, 80);
  border-radius: 7px;
  border: transparent;
  transition: 0.5s;
}

.deleteButton:hover{
  background-color: rgb(148, 17, 17);
  transition: 0.5s;
}

.activityFormButtonIcon {
  width: 22px;
  margin-right:5px;
}

.twoButtonsContainer{
  display:inline-flexbox;
  width:100%;
}

.catalogueSearchBar {
  width: fit-content;
  margin: 0px auto 10px auto;
}

.searchField {
  width: 720px;
  height: 35px;
  padding:10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  border-radius: 20px;
  color: white;
  text-align: left;
  background-color: rgba(255,255,255,0.3);
  margin: 5px 0 5px 0;
  border-radius: 7px;
  border: transparent;
}

.searchField::placeholder { 
  color: white;
}

.favsContainer {
  width: 70px;
  font-family: 'Mulish', sans-serif;
  background-color: rgba(125, 220, 250, 0.4);
  margin: 0px auto 80px auto;
  padding:10px;
  border-radius: 15px;
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.assistContainer {
  width: 100px;
  font-family: 'Mulish', sans-serif;
  background-color: rgba(125, 220, 250, 0.4);
  margin: 0px auto 80px auto;
  padding:10px;
  border-radius: 15px;
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.filterContainer {
  background-color: #500A6D;
  width: 140px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 15px 10px 15px 10px;
}

.filterItem {
  display: block;
}

.filterTitle {
  font-family: 'Mulish', sans-serif;
  margin-bottom: 5px;
}

.searchButton {
  height: 35px;
  width: 35px;
}
.notShow{
  display:none;
}

.dateInputContainer{
  display: inline-flex;
}

.dateField{
  width:102px;
  margin-right:5px;
}