@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

body {
  background-image: url("./assets/backgrounds/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: center;
  color: white;
}

button {
  color: white;
  font-family: 'Mulish', sans-serif;
}

textarea {
  resize: none;
}

.header {
  width: 100%;
  font-family: 'Mulish', sans-serif;
  line-height: 0.938em;
}

.titleBox{
  width: fit-content;
  margin:auto;
  display: flex;
  margin-top: 1.563em;
}

.websiteLogo {
  width: 14.375em;
  height:auto;
  margin: 0 0 0 0 ;
  transition: all 0.3s;
}

.websiteLogo:hover {
  width: 14.7em;
  transition: all 0.3s;
}

.websiteSlogan {
  font-size: 1.1em;
  width: 12.5em;
  height: fit-content;
  margin: 1.75em 0 0 0 ;
  text-align: right;
  text-shadow: 0em 0em 0.25em rgba(0, 0, 0, 0.414);
}

.mainMenu {
  width: fit-content;
  display: flex;
  margin: 0.625em auto 1.25em auto;
}

.loginButton {
  position: absolute;
  display: inline-flex;
  justify-content: center; 
  align-items: center;
  opacity: 70%;
  width:fit-content;
  top: 3.5em;
  right: 3em;
  transition: 0.4s;
  background-color: transparent;
  border: transparent;
}

.loginButtonText{
  line-height: 0.813em;
  font-size: 1.2em;
  width: fit-content;
  background-color: transparent;
  border-radius: 0.6em 0em 0em 0.6em;
  padding: 0.43em 1.875em 0.43em 1.25em;
  text-align: left;
  margin-right: -1.45em;
  border: 0em;
  transition: 0.4s;
}

.loginButton:hover  {
  opacity: 100%;
  transition: 0.4s;
}

.loginButton:hover .loginButtonText {
  background-color: #8453c5;
  transition: 0.4s;
  box-shadow: 0 0 0.7em rgba(0,0,0,0.4);
}

.loginButton:hover .textSpan{ 
  color: #1d0427;
  transition: 0.4s;
}

.textSpan {
  transition: 0.4s;
}

.userOptionsContainer {
  display:flexbox;
  position: absolute;
  top: 0.625em;
  right: 0.625em;
  transition: 0.5s;
  opacity:0%;
  width:0em;
  height:0em;
  z-index: 9;
}

.userOptionButton{
  width:max-content;
  color:rgb(16, 7, 29);
  line-height: 0.813em;
  font-size: 0.1em;
  background-color: rgba(255, 255, 255);
  border-radius: 0.625em;
  padding: 0.563em 0.75em 0.563em 0.75em;
  border: 0em;
  float: right;
  margin-bottom: 0.188em;
  transition: 0.5s;
  box-shadow: 0 0 0.7em rgba(0,0,0,0.4);
}

.userOptionButton:hover{
  color:white;
  background-color: rgba(37, 7, 59);
  padding: 0.8em 0.75em 0.8em 0.75em;
  transition: 0.5s;
}

.loginButton:hover .userOptionsContainer {
  opacity:100%;
  top: 3.125em;
  transition: 0.4s;
  width:fit-content;
  height:fit-content;
}

.loginButton:hover .userOptionButton {
  font-size: 1.1em;
  transition: 0.4s;
}

.userIcon {
  width: 3.3em;
  height: 3.3em;
  z-index: 10;
}

@media only screen and (max-width: 56.25em){  
  .loginButtonText{
    position: absolute;
    opacity: 0%;
    right:2.5em;
}

  .loginButton:hover .loginButtonText {
    opacity: 100%;
    right: 3.438em;
  }  
  
}

.footer{
  display: flex;
  position: fixed;
  bottom: -2.5em;
  font-family: 'Mulish', sans-serif;
  line-height: 0.938em;
  padding: 0.313em 1.25em 0.313em 1.25em;
  border-radius: 1.25em 1.25em 0 0;
  width: fit-content;
  background-color: rgba(16, 2, 27, 0.308);
  left: 50%;
  transform: translate(-50%, 0);
  transition: 1s;
}

.footer:hover {
  opacity: 100%;
  background-color: rgb(25, 12, 34);
  bottom: 0em;
  transition: 1s;
}

.milhojasLogo {
  opacity: 0%;
  width: 8.125em;
  height: 3.438em;
  margin: 0 0 0 0 ;
  transition: 1s;
}

.footerText {
  opacity: 0%;
  font-size: 1.063em;
  margin: 1.188em 0.625em 0 0;
  text-align: right;
  transition: 1s;
  width: max-content;
}

.footer:hover .milhojasLogo {
  opacity: 100%;
  transition: 1s;
}

.footer:hover .footerText{
  opacity: 100%;
  transition: 1s;
}

.aboutUsCard {
  opacity: 100%;
  width: 60%;
  max-width: 43.75em;
  min-width: 34.375em;
  height: 50vh;
  min-height: 21.875em;
  max-height: 25em;
  background-image: url("./assets/backgrounds/aboutUsBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  border-radius: 2.5em;
  margin: 1.25em auto 1.875em auto;
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
  padding: 2.5em;
  line-height: 0.938em;
  display:flex;
  align-items: center;
  justify-content: center;
}

.aboutUsContainer{
  width: 100%;
  max-width: 37.5em;
}

.adminActivitiesContainer{
  width: fit-content;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-5%);
    opacity: 0%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

.pageTitle {
  display:flex;
  width:fit-content;
  align-items: center;
  justify-content: center;
  margin: 0.5em auto 0.125em auto;
  padding: 0 0.625em 0 0.625em;
  overflow-wrap: anywhere;
}

.pageTitleIcon {
  width: 2.188em;
}

.pageTitleIcon2 {
  width: 1.125em;
}

.pageTitleText {
  font-family: 'Mulish', sans-serif;
  font-size: 1.25em;
  margin-left: 0.938em;
  line-height: 1.063em;
  color: #D6A4EB;
}

.memberCirclesArray {
  display:flex;
  margin: auto;
  width:100%;
  justify-content: center;
}

.memberCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3.75em;
  margin:0 0.25em 0 0.25em;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  padding: 0.313em;
  transition: 0.5s;
  height: 5.313em;
}

.aboutUsBox {
  display: flex;
  width: 30em;
  align-items: center;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:1.063em;
  line-height: 1.375em;
  margin: 0.625em auto 0 auto;
}

.iconUNAL {
  width: 9.8em;
}

.aboutUsText {
  width:22.5em;
  text-shadow: 0em 0em 0.313em rgba(0, 0, 0, 0.5);
}

.verticalLine {
  border-left: 0.188em solid white;
  height: 6.875em;
  margin: 0 1.25em 0 1.25em;
}

.horizontalLine {
  border-top: 0.188em solid white;
  width: 5.625em;
  margin: 0.625em 0 0.625em 0;
  margin-left: auto; 
  margin-right: 0;
}

.integrantes {
  font-family: 'Mulish', sans-serif;
  font-size:1.125em;
  margin-left: auto; 
  margin-right: 0;
  width: fit-content;
  margin-top:-1.25em;
  text-shadow: 0em 0em 0.313em rgba(0, 0, 0, 1);
}

.card {
  width: 16.5em;
  background-color: rgba(0,0,0,0.4);
  border-radius: 1.563em;
  height: 17.5em;
  margin: 1.25em auto 1.875em auto;
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
  padding: 1.7em;
  font-family: 'Mulish', sans-serif;
  font-size: 1.06em;
  color: white;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
}

.cardContainer{
  width: fit-content;
  height: fit-content;
}

.loginField {
  width: 100%;
  height: 2em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  color: white;
  text-align: center;
  margin: 0.2em 0 0.2em 0;
  color: black;
  border-radius: 0.625em;
  border: transparent;
}

.activityInputField {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  text-align: left;
  margin: 0em 0 0.938em 0em;
  color: black;
  border-radius: 0.25em;
  border: transparent;
  padding: 0.125em 0em 0.125em 0.313em;
  width:13.75em;
}

.activityIsPlanPlainText{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.7);
  margin: 0.625em 0 1.188em 0em;
}

.activityInputText{
  font-family: 'Mulish', sans-serif;
  font-size: 1em;
  margin: 0 0 0.313em 0;
}

.disabledText{
  color: rgba(255, 255, 255, 0.7);
}

.descriptionInputField {
  height: 9em;
  margin-bottom:0em;
}

.horarioInputField {
  height: 8.75em;
}

.loginButton2{
  text-align: center;
  margin: 0.938em auto 0.625em auto;
  color: white;
  background-color: #9453C2;
}

.loginButton2:hover{
  color: rgb(35, 5, 57);
  background-color: white;
  transition: 0.5s;
}

.loginButton2:disabled {
  cursor: not-allowed;
}

.titleCard {
  margin-bottom: 1.563em;
}

.noAccountQuestion{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 1.25em 0 0em 0;
}

.goToSignUp {
  color: #7DDCFA;
  font-weight: bold;
  text-decoration: none;
}

.goToSignUp:hover {
  text-decoration:underline;
}

.activityCard {
  width: 34.063em;
  background-color: white;
  border-radius: 0.938em;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 0.938em;
  padding:1.25em 1.25em 1.25em 1.25em;
  margin:0 0.313em 0.313em 0.313em;
  font-size: 1em;
  transition: 0.5s;
  overflow-wrap: anywhere;
}

.activityCardTitle {
  font-family: 'Mulish', sans-serif;
  color: #500A6D;
  font-size: 1.125em;
  margin:0 0 0.375em 0;
}

.activityCardLocation{
  color: #A77DDF;
  margin:0 0 0 0;
}

.activityCardCategory{
  color: #958a9b;
  font-size: 0.938em;
  margin:0 0 0.063em 0;
  font-family: "Source Sans Pro", sans-serif;
}

.activityCardDescription {
  display: block;
  margin:0.5em 0 0.5em 0;
  width:34.063em;
}

.activityCardContact {
  margin:0 0 0 0;
}

.activityCard:hover {
  background-color: #9453C2;
  color: white;
  transition: 0.5s;
}

.activityCard:hover .activityCardTitle {
  color: white;
}

.activityCard:hover .activityCardLocation  {
  color: white;
}

.activityCard:hover .activityCardCategory  {
  color: white;
}

.catalogueContainer {
  display: flexbox;
  justify-content: center;
  width:48.125em;
  align-items: center;
  background-color: rgba(0,0,0,0.4);
  margin: 0em auto 3em auto;
  padding:1.875em;
  border-radius: 1.25em;
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.catalogueCardsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 0em;
  width: 38.125em;
  height: 100%;
  overflow-y:auto;
}

.catalogueCardsContainer::-webkit-scrollbar {
  width: 0.625em;
}

.catalogueCardsContainer::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.307);
  border-radius: 0.625em;
}

.catalogueCardsContainer::-webkit-scrollbar-thumb {
  background-color: #E16DB5;
  border-radius: 1.25em;
}

.noActivitiesText{
  display: flex;
  font-family: "Mulish", "sans-serif";
  align-items: center;
  justify-content: center;
  height: 20em;
  text-shadow: 0em 0em 0.313em rgba(0, 0, 0, 0.415);
}

.heightModified{
  height: 12em;
}

.noCommentsText{
  display: flex;
  font-family: "Source Sans Pro", "sans-serif";
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 0 0 0;
  text-shadow: 0em 0em 0.313em rgba(0, 0, 0, 0.415);
}

.adminActivitiesCard {
  opacity: 100%;
  width: 70%;
  max-width: 50em;
  min-width: 42.5em;
  height: 45vh;
  min-height: 22.5em;
  max-height: 25em;
  background-color: rgba(0,0,0,0.4);
  border-radius: 2.5em;
  margin: 1.25em auto 1.875em auto;
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
  padding: 2.5em;
  line-height: 0.938em;
  display:flex;
  align-items: center;
  justify-content: center;
}

.paddingModified{
  max-width: 40em;
  min-width: 38.5em;
  min-height: 20em;
  max-height: 22em;
}

.formContainer {
  display:inline-flex;
  margin: 1.563em 0em 0em 0em;
  width:fit-content;
}

.activityCheckbox{
  width: 1.3em;
  height:1.3em;
  margin: 0em 0em 0em 0.7em;
  opacity:50%;
  transition:0.5s;
  cursor: pointer; 
}

.activityCheckbox2{
  width: 1.3em;
  height:1.3em;
  margin: 0em 0.5em 0em 0em;
  transition:0.5s;
  cursor: pointer; 
}

.activityCheckbox3{
  width: 1.25em;
  height:1.25em;
  margin: 0em 0.5em 0em 0.938em;
  transition:0.5s;
  cursor: pointer; 
}

.ageLimitContainer {
  display: flex;
  width: max-content;
  align-items: center;
}

.activityTypeContainer {
  display: flex;
  width: max-content;
  height: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  margin: 0em 0 0.938em 0em;
  align-items: center;
}

.endingField{
  margin: 0 0 0 0;
}

.activityCheckbox:checked {
  opacity:100%;
  transition:0.5s;
}

.column {
  width: 14.063em;
  margin: 0 0.438em 0 0.438em;
}

.textStyle1{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 1em;
  margin: 4.6em 0 1.8em 0;
  text-align: center;
}

.genericButton {
  display:flex;
  align-items: center;
  justify-content: center;
  height:fit-content;
  padding:0.5em 1em 0.5em 1em;
  font-size: 0.88em;
  text-align: left;
  border-radius: 0.45em;
  border: transparent;
  transition: 0.5s;
}

.updateButton{
  width: 8em;
  color: rgb(255, 255, 255);
  background-color:#14ABDB;
  float:left;
}

.updateButton:hover{
  background-color: #0c718d;
  transition: 0.5s;
}

.deleteButton{
  width: 7.5em;
  color: rgb(255, 255, 255);
  float:right;
  background-color: rgb(230, 80, 80);
}

.deleteButton:hover{
  background-color: rgb(148, 17, 17);
  transition: 0.5s;
}

.createButton{
  color: rgb(255, 255, 255);
  background-color: rgb(134, 82, 186);
  margin: 0.938em auto 0 auto;
}

.createButton:hover{
  background-color: rgb(87, 50, 124);
  transition: 0.5s;
}

.activityFormButtonIcon {
  width: 1.375em;
  margin-right:0.313em;
}

.twoButtonsContainer{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
}


.searchField {
  width: 43.75em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  color: white;
  text-align: left;
  background-color: rgba(255, 255, 255, 0);
  margin: 0em 0 0em 0;
  border: transparent;
  text-shadow: 0em 0em 0.125em rgba(0, 0, 0, 0.567);
  outline: none;
}

.searchField::placeholder { 
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 0em 0em 0.125em rgba(0, 0, 0, 0.27);
}

.searchImage{
  width:1.15em;
  height: 1.15em;
  margin-left:0.4em;
  margin-right:0.938em;
  opacity: 80%;
}

.searchContainer{
  display: flex;
  width: 97%;
  height: 1.5em;
  padding: 0.313em 0.625em 0.313em 0.625em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25em;
  border-radius: 0.438em;
  color: white;
  text-align: left;
  background-color: rgba(255,255,255,0.3);
  margin: 0em 0 0.5em 0;
  border: transparent;
  text-shadow: 0em 0em 0.125em rgba(0, 0, 0, 0.567);
  align-items: center;
  justify-content: center;
}

.favsWillAssistBarContainer{
  width: 100%;
  height: 2.5em;
  margin: 0em auto 0.625em auto;
  display: flex;
  justify-content: space-between;
}

.catalogueSpecialFilterOption {
  width: 23.75em;
  height:2.5em;
  font-family: 'Mulish', sans-serif;
  font-size: 1em;
  background-color: rgb(53, 145, 181);
  border-radius: 0.625em;
  display:flex;
  align-items: center;
  justify-content: center;
  opacity:75%;
  transition: 0.5s;
}

.filterContainer {
  width: 9.375em;
  height: 100%;
  overflow-y: auto;
  font-family: "Source Sans Pro", sans-serif;
  padding: 0em 0.625em 0em 0em;
  margin: 0em 0.188em 0em 0em;
  overflow-wrap: anywhere;
}

.filterContainer::-webkit-scrollbar {
  width: 0.5em;
}

.filterContainer::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0.625em;
}

.filterContainer::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 1.25em;
}

.filterItem {
  display: flex;
  width: 100%;
  height: fit-content;
  align-items: start;
  line-height: 0.938em;
  padding: 0em;
  margin-bottom: 0.188em;
  font-size:1em;
  transition: 0.5s;
  opacity: 50%;
  color:rgb(255, 255, 255);
  transition: 0.5s;
}

.opacityWhole {
  opacity:100%;
  transition: 0.5s;
}

.filterTitle {
  font-family: 'Mulish', sans-serif;
  margin: 0.625em 0 0.375em 0;
}

.filterTitle2{
  margin: 0em 0 0.375em 0;
}

.notShow{
  display:none;
}

.dateInputContainer{
  display: inline-flex;
}

.dateField{
  width:6.563em;
  margin-right:0.313em;
  font-size:0.938em;
}

.catalogueContainer2 {
  display: flex;
  height:20em;
}

.filterCheckboxContainer{
  width: 100%;
  margin-right:0.438em;
}

.categoryCheckbox{
  width: 1.15em;
  height: 1.15em;
  transition:0.5s;
  cursor: pointer; 
  margin: 0 0.5em 0.2em 0;
  accent-color: rgb(172, 84, 204);
}

.categoryCheckbox:focus{
  outline: none;
}

.categoryCheckbox2{
  width: 1.4em;
  height: 1.4em;
  transition:0.5s;
  cursor: pointer; 
  margin: 0 0 0 0;
  accent-color: rgb(7, 93, 133);
  margin-right:0.625em;
}

.categoryCheckbox2:focus{
  outline: none;
}

.sendButton{
  width: 6.938em;
  color: #500A6D;
  background-color: rgb(255, 255, 255);
  margin:1.9em auto 0em auto;
  transition: 0.5s;
}

.sendButton:hover{
  background-color: #D6A4EB;
  transition: 0.5s;
}

.registerPopUpWhole{
  position:fixed;
  top: 0;
  bottom:0;
  right: 0;
  left:0;
  z-index:-1100;
  transition: 0.5s;
}

.appeared{
  background-color: rgba(0, 0, 0, 0.5);
  z-index:999;
  transition: 0.5s;
}

.suggestionPopUpBackground{
  position:fixed;
  top: 0;
  bottom:0;
  right: 0;
  left:0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index:999;
  animation: 0.5s ease-out 0s 1 appearSlowly;
  transition: 0.5s;
}

@keyframes appearSlowly {
  0% {
    background-color: rgba(0, 0, 0, 0);
    z-index:-1999;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
    z-index:999;
  }
}

.registerPopUpCard{
  width: 13em;
  height:16em;
  background-image: url("./assets/backgrounds/popUpBackground.png");
  background-size: cover;
  border-radius: 1.563em;
  position:absolute;
  top: -25em;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: "Source Sans Pro", sans-serif;
  font-size:1.1em;
  padding:0.625em;
  display:flex;
  align-items: center;
  justify-content: center;
  z-index:1000;
  transition: 0.5s;
}

.movedDown{
  top: 12.5em;
  box-shadow: 0em 0em 1.25em rgba(0, 0, 0, 0.37);
  transition: 0.5s;
}

.registerPopUpContainer{
  width: 14.375em;
  text-align: center;
  text-shadow: 0em 0em 0.313em rgba(0, 0, 0, 0.438);
}

.goToSignUp2 {
  color: #7DDCFA;
  font-weight: bold;
  text-decoration: none;
}

.goToSignUp2:hover {
  text-decoration:underline;
}

.goToLogin {
  color: #cd88fd;
  font-weight: bold;
  text-decoration: none;
}

.goToLogin:hover {
  text-decoration:underline;
}

.fakeMenuButton {
  font-size: 1em;
  border: 0.125em solid white;
  background-color: rgba(0,0,0,0);
  box-shadow: 0em 0em 0.625em 0.125em rgba(0, 0, 0, 0.165);
  border-radius: 0.5em;
  padding:0.25em 0.938em 0.25em 0.938em;
  margin: 0 0.25em 0 0.25em;
  height:fit-content;
  transition: 0.5s;
  color: white;
}

.fakeMenuButton:visited {
  color: white;
}

.fakeMenuButton:hover{
  color: #2b085a;
  padding:0.25em 1.25em 0.25em 1.25em;
  background-color: white;
  transition: 0.5s;
}

.bottomTwoButtonsContainer{
  display:flex;
  width:100%;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 0.313em;
}

.volver{
  background-color: #E16DB5;
  margin-right:0em;
  float:left;
}

.editActivityTitle {
  margin-left:10em;
}

.volver:hover{
  background-color: #ad3e82;
  transition: 0.5s;
}

.favorito{
  background-color: #0e83a7;
  width:13em;
  height:1.9em;
}

.favorito:hover{
  background-color: #156a84;
  transition: 0.5s;
}

.yesFavorito {
  background-color: #5048EF;
}

.yesFavorito:hover {
  background-color: #312c95;
}

.willAssistButton{
  background-color: #c03030;
  width: 13em;
  height:1.9em;
  margin-top: 0.25em;
  justify-content: space-between;
}

.onButton{
  background-color: rgb(73, 121, 36);
  transition:0.5s;
}

.parche{
  background-color: #F25165;
  float:left;
}

.parche:hover{
  background-color: #b03d4b;
  transition: 0.5s;
}

.reseña {
  background-color: white;
  color: #500A6D;
  float:right;
  text-shadow: 0em 0em 0em rgba(0, 0, 0, 0);
}

.reseña:hover{
  background-color: #D6A4EB;
  transition: 0.5s;
}

.infoBox {
  opacity: 100%;
  width: 70%;
  max-width: 50em;
  min-width: 42.5em;
  height: 45vh;
  min-height: 22.5em;
  max-height: 25em;
  background-color: rgba(0,0,0,0.4);
  border-radius: 2.5em;
  margin: 1.25em auto 1.875em auto;
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
  padding: 2.5em;
  line-height: 0.938em;
  display:flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.infoActivityContainer{
  width: 100%;
  text-align:center ;
}

.editActivityButton{
  background-color: #D6A4EB;
  width: 1.5em;
  height: 1.5em;
  border:none;
  border-radius: 0.313em;
  transition:0.5s;
  padding: 0.125em;
  margin-left:0.625em;
}

.editActivityButton:hover{
  background-color: #ffffff;
  transition:0.5s;
}

.featureTitleText{
  text-align: left;
  font-family: "Mulish",sans-serif;
}

.featureText{
  text-align: left;
  font-family: "Source Sans Pro",sans-serif;
}

.featureIcon{
  width: 1.563em;
  margin-right:0.625em;
}

.userCommentIcon{
  width: 2.188em;
  margin-right:0.625em;
}

.featureBox {
  display:flex;
  width:fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.563em;
}

.specialFeatureTitle {
  margin-top: 0.438em;
  margin-bottom: 0.625em;
}

.verticalButtonContainer{
  display:flexbox;
  float:right;
}

.assistCheckboxBackground{
  width: 1.8em;
  height:1.1em;
  background-color: rgb(77, 26, 26);
  border-radius: 1.563em;
  margin-left:0.7em;
  display:flex;
  align-items: center;
  transition:0.5s;
}

.assistCheckbox{
  width: 0.85em;
  height:0.9em;
  background-color: #ffffff;
  border-radius: 1.563em;
  margin: 0 0.125em 0 0.125em;
}

.onCheckbox{
  justify-content: right;
  background-color: rgb(19, 49, 17);
  transition:0.5s;
}

.columnFeaturesContainer {
  flex-basis: 12.375em;
	flex-grow: 0;
	flex-shrink: 0;
  height:15.625em;
  overflow-y: auto;
  margin-right:1.25em;
  padding-right:0.625em;
  overflow-wrap: anywhere;
}

.columnDescriptionReviewsContainer {
  display: flex;
  flex-flow:column;
  align-content: start;
  height:15.625em;
  width: 100%;
  overflow-wrap: anywhere;
}

.columnFeaturesContainer::-webkit-scrollbar {
  width: 0.5em;
}

.columnFeaturesContainer::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0.625em;
}

.columnFeaturesContainer::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 1.25em;
}

.twoColumnsFeatureContainer{
  display:flex;
  width:100%;
  height:fit-content;
  justify-content: space-between;
  margin-bottom:0.938em;
}

.containerComments{
  width:100%;
  flex: 1 1 auto;
  overflow-y: auto;
}

.containerComments::-webkit-scrollbar {
  width: 0.5em;
}

.containerComments::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0.625em;
}

.containerComments::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 1.25em;
}

.commentCard{
  width:99%;
  min-height:3.125em;
  display: flex;
  align-items:flex-start;
  justify-content: center;
  margin-bottom: 0.313em;
}

.commentTextContainer{
  width:100%;
  background-color: #ffffff23;
  padding:0.75em 0.75em 0.75em 0.75em;
  border-radius: 0em 0.938em 0.938em 0.938em;
  transition: 0.5s;
}

.commentTextContainer:hover{
  background-color: #ffffff67;
  transition: 0.5s;
}

.commentText{
  font-family: "Source Sans Pro", sans-serif;
  font-style: italic;
  margin-bottom:0.438em;
  text-align: left;
}

.commentInfo{
  font-family: "Source Sans Pro", sans-serif;
  font-weight:bold;
  text-align: right;
}


.star-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin: 0.5em 0 0.188em 0;
}

.radio-input {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.radio-label {
  cursor: pointer;
  font-size: 0;
  color: rgba(0,0,0,0.4);
  transition: color 0.1s;

}

.radio-label:before {
  content: "★";
  display: inline-block;
  font-size: 1.7rem;
  transition: color 0.1s;
}

.radio-input:checked ~ .radio-label {
  color: white;
  transition: color 0.1s;
  text-shadow: 0em 0em 0.625em rgba(0, 0, 0, 0.2);
}

.commentFormCard {
  width: 16.875em;
  height: 16.25em;
  padding: 1.25em;
  border-radius: 0.938em;
  background-color: #1999C2;
  margin: 0 0 0 0;
  position:absolute;
  bottom:3.75em;
  right:2.5em;
  opacity: 0%;
  z-index: -4000;
  transition: 0.5s;
}

.commentInputField {
  width:99%;
  height: 6.25em;
  font-size: 1em;
  margin:0.5em 0 0.5em 0;
  background-color: #0d485c;
  color:white;
}

.commentFormTitle {
  text-align: center;
  font-family: "Mulish",sans-serif;
  color: #ffffff;
  font-size:1.125em;
  margin: 0.5em 0 0.938em 0;
  text-shadow: 0em 0em 0.625em rgba(0, 0, 0, 0.3);
}

.sendButton2{
  width: 48%;
  color: rgb(255, 255, 255);
  background-color:#0f5264;
  float:left;
}

.sendButton2:hover{
  background-color: #042e39;
  transition: 0.5s;
}

.cancel{
  width: 48%;
  color: rgb(255, 255, 255);
  background-color: rgb(230, 80, 80);
  float:left;
}

.cancel:hover{
  background-color: rgb(183, 65, 65);
}

.darkerColor{
  color:#062e3b;
}

.informationPopUpCard {
  position:relative;
  margin: 0 auto 0 auto;
  width: 23em;
  background-color: #9453C2;
  padding: 2.5em 2.5em 2.5em 2.5em;
  border-radius: 1.6em;
  line-height: 1em;
  text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
  z-index:4000;
  transition: 0.5s;
}

.informationPopUpContainer {
  display: flex;
  justify-content: center;
  flex-direction: column; 
  align-items: center;
  font-family: 'Mulish', sans-serif;
  width:100%;
}

.informationGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6em;
  width:100%;
}

.closeButton {
  position:absolute;
  width: 1.6em;
  height: 1.6em;
  cursor: pointer;
  right: 1.5em;
  top:1.5em;
}

.suggestionPopUpTitle{
  margin:0 0 1em 0;
  font-size: 1.2em;
  text-align: center;
}

.suggestionPopUpSubtitle{
  margin:0 0 0.2em 0;
  font-size: 1.05em;
  color:#e1b9f4;
  text-shadow: none;
}

.featureBox2 {
  display:flex;
  width:100%;
  height: fit-content;
  align-items: center;
  justify-content: left;
  margin: 0.563em 0 0 0;
}

.opacityWhole2 {
  opacity:100%;
  bottom:1.563em;
  z-index: 4000;
  transition: 0.5s;
}

.activitySuggestText{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  font-family: "Mulish", sans-serif;
  font-size: 1em;
}

.suggestName{
  width: 17.5em;
  margin-right: 0.5em;
  text-align: center;
  font-weight: bold;
}

.suggestActions{
  width: 14em;
}

.suggestName2{
  width: 17em;
  margin-right: 0.5em;
  text-align: center;
}

.suggestActions2{
  width: 13.5em;
  text-align: center;
}

.tableTitle{
  padding: 0.5em 0 0.5em 0.5em;
  background-color: #9453C2;
  color: #ffffff;
  border-radius: 0.4em;
  cursor: pointer;
  font-weight: bold;
  transition:0.5s;
}

.actualActivity:hover{
  color: #D6A4EB;
  text-decoration: underline;
}

.activitySuggest{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.3em;
  justify-content: left;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  align-items: center;
}

.suggestsCardsContainer{
  width: 100%;
  height: 13em;
  margin-bottom:1em;
  overflow-y: auto;
}

.adminActivitiesContainer2{
  width: 33em;
}

.suggestsCardsContainer::-webkit-scrollbar {
  width: 0.5em;
}

.suggestsCardsContainer::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0.625em;
}

.suggestsCardsContainer::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 1.25em;
}